.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 15px;
}

.github{
	width: 100%;
	padding: 20px;
    border-radius: 15px;
	cursor: pointer;
}